/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body > .container {
  padding: 60px 15px 0;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #484e55;;
  padding: 15px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.pc-list-footer>li+li:before {
  content: "\007c";
  padding: 0 5px;
  color: #ccc;
}
